/SpringComerce/HELP.md
/SpringComerce/target/
/SpringComerce/!./mvn/wrapper/maven-wrapper.jar
/SpringComerce/!**/src/main/**/target/
/SpringComerce/!**/src/test/**/target/

### STS ###
/SpringComerce/.apt_generated
/SpringComerce/.classpath
/SpringComerce/.factorypath
/SpringComerce/.project
/SpringComerce/.settings
/SpringComerce/.springBeans
/SpringComerce/.sts4-cache

### IntelliJ IDEA ###
/SpringComerce/.idea
/SpringComerce/*.iws
/SpringComerce/*.iml
/SpringComerce/*.ipr

### NetBeans ###
/SpringComerce/nbproject/private/
/SpringComerce/nbbuild/
/SpringComerce/dist/
/SpringComerce/nbdist/
/SpringComerce/.nb-gradle/
/SpringComerce/build/
/SpringComerce/!**/src/main/**/build/
/SpringComerce/!**/src/test/**/build/

### VS Code ###
/SpringComerce/.vscode/
