<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper-table">
        <form th:action="@{'/category/edit/' + ${category.id}}" method="post" id="category-edit">
            <div class="form-group">
                <label for="category">Tên danh mục</label>
                <input type="text" name="name" id="name-cate" th:value="${category.name}">
                <span class="error-message"></span>
            </div>
            <input class="btn-save input-save" type="button" value="Lưu thay đổi">
        </form>
    </div>
</body>
</html>